@font-face {
  font-family: "GG";
  src: url("./fonts/Military\ Poster.ttf") format("ttf");
}

.html {
  scroll-behavior: smooth;
}

nav {
  background-color: #131415;
  padding: 10px;
  text-align: center;
  display: flex;
  align-items: center;
}
nav .fullhead {
  padding: 15px;
  margin: 15px;
  background-color: #1f1f1f;
  border-radius: 20px;
  display: flex;
  align-items: center;
}
nav .logo {
  display: flex;
  align-items: center;
}

nav .logo img {
  margin-right: 10px;
}

nav h1 {
  font-family: "GG";
  margin: 10px 0;
  font-size: 1.5em;
  color: #e19962;
}

nav p {
  font-family: "GG";
  font-size: 0.8em;
}

nav ul {
  list-style: none;
  padding: 15px;
  margin: 15px;
  background-color: #242424;
  border-radius: 20px;
  display: flex;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  font-family: "GG", sans-serif;
  color: #8bb7ab;
  font-size: 1.2em;
  transition: color 0.3s ease;
}

nav .navbar {
  padding: 20px;
}

nav a:hover {
  color: #e19962;
}

body {
  background-color: #131415;
  color: #e19962;
  font-family: "GG", sans-serif;
  font-size: large;
}

.container {
  margin: 20px;
  grid-area: 1 / 1 / 8 / 2;
  background-color: #242424;
  padding: 10px;
  text-align: center;

  border-radius: 20px;
}

.hero {
  background-color: #131415;
  color: #e19962;
  padding: 60px 0;
  text-align: center;
  margin: auto;
}

.parent {
  margin: 20px;
  background-color: #242424;
  border-radius: 30px;
  color: #e19962;
  padding: 40px 0;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(7, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 3px;
  height: 700px;
}

.game-card h3 {
  color: #e19962;
}

.game-card p {
  text-align: end;
  color: #e19962;
}

.comic-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #ff5252;
  border: 2px solid #000;
  border-radius: 10px;
  box-shadow: 5px 5px 0px #000;
  transition: all 0.3s ease;
}

.comic-button:hover {
  background-color: #fff;
  color: #ff5252;
  border: 2px solid #ff5252;
  box-shadow: 5px 5px 0px #ff5252;
}

.comic-button:active {
  background-color: #fcf414;
  box-shadow: none;
  transform: translateY(4px);
}

.logo img {
  position: relative(1, 2);
}

.game-card {
  background-color: #2e2e2e;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 25px;
  outline: none;
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.game-logo {
  grid-area: 1 / 1 / 3 / 2;
}
.game-logo img {
  height: 120px;
  width: 120px;
}
.game-name {
  grid-area: 1 / 2 / 2 / 6;
}
.game-desc {
  grid-area: 2 / 2 / 3 / 6;
}

.game-card:hover {
  opacity: 1;
}

.mycard {
  height: 100%;
  width: 100%;
  max-width: 24rem;
}
.cardtitle {
  font-weight: bold;
  --tw-text-opacity: 1;
  color: rgba(31, 41, 55, var(--tw-text-opacity));
  text-align: center;
}
.cardimg {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.75rem;
  margin-bottom: 2.75rem;
  max-height: 6rem;
  border-radius: 9999px;
}
.carddescription {
  --tw-text-opacity: 1;
  color: rgba(107, 114, 128, var(--tw-text-opacity));
  text-align: center;
}

.slider {
  width: 100%;
  height: 10px;
}
.slider input {
  display: none;
}
.testimonials {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 450px;
  perspective: 500px;
  margin-top: 5rem;
  overflow: hidden;
}
.testimonials .item {
  max-width: 20rem;
  border-radius: 1.5rem;
  border-width: 2px;
  --tw-border-opacity: 1;
  border-color: rgba(30, 58, 138, var(--tw-border-opacity));
  top: 0;
  position: absolute;
  box-sizing: border-box;
  background-color: #2e2e2e;
  padding: 30px;
  width: 450px;
  text-align: center;
  transition: 0.4s;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
  user-select: none;
  cursor: pointer;
}
.testimonials .item img {
  width: 100px;
  border-radius: 50%;
  border: 13px solid #4e6660;
}
.testimonials .item p {
  color: #e19962;
  text-emphasis: bold;
}
.testimonials .item h2 {
  font-size: 14px;
}
.dots {
  display: flex;
  justify-content: center;
  align-items: center;
}
.dots label {
  display: block;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #413b52;
  margin: 7px;
  transition: transform 0.2s, color 0.2s;
}

/* First */
#t-1:checked ~ .dots label[for="t-1"] {
  transform: scale(2);
  background-color: #e19962;
}
#t-1:checked ~ .dots label[for="t-2"] {
  transform: scale(1.5);
}
#t-1:checked ~ .testimonials label[for="t-1"] {
  z-index: 4;
}
#t-1:checked ~ .testimonials label[for="t-2"] {
  transform: translateX(300px) translateZ(-90px) translateY(-15px);

  z-index: 3;
}
#t-1:checked ~ .testimonials label[for="t-3"] {
  transform: translateX(600px) translateZ(-180px) translateY(-30px);
  z-index: 2;
}
#t-1:checked ~ .testimonials label[for="t-4"] {
  transform: translateX(900px) translateZ(-270px) translateY(-45px);
  z-index: 1;
}
#t-1:checked ~ .testimonials label[for="t-5"] {
  transform: translateX(1200px) translateZ(-360px) translateY(-60px);
}

/* Second */
#t-2:checked ~ .dots label[for="t-1"] {
  transform: scale(1.5);
}
#t-2:checked ~ .dots label[for="t-2"] {
  transform: scale(2);
  background-color: #e19962;
}
#t-2:checked ~ .dots label[for="t-3"] {
  transform: scale(1.5);
}
#t-2:checked ~ .testimonials label[for="t-1"] {
  transform: translateX(-300px) translateZ(-90px) translateY(-15px);
}
#t-2:checked ~ .testimonials label[for="t-2"] {
  z-index: 3;
}
#t-2:checked ~ .testimonials label[for="t-3"] {
  transform: translateX(300px) translateZ(-90px) translateY(-15px);
  z-index: 2;
}
#t-2:checked ~ .testimonials label[for="t-4"] {
  transform: translateX(600px) translateZ(-180px) translateY(-30px);
  z-index: 1;
}
#t-2:checked ~ .testimonials label[for="t-5"] {
  transform: translateX(900px) translateZ(-270px) translateY(-45px);
}

/* Third */
#t-3:checked ~ .dots label[for="t-2"] {
  transform: scale(1.5);
}
#t-3:checked ~ .dots label[for="t-3"] {
  transform: scale(2);
  background-color: #e19962;
}
#t-3:checked ~ .dots label[for="t-4"] {
  transform: scale(1.5);
}
#t-3:checked ~ .testimonials label[for="t-1"] {
  transform: translateX(-600px) translateZ(-180px) translateY(-30px);
}
#t-3:checked ~ .testimonials label[for="t-2"] {
  transform: translateX(-300px) translateZ(-90px) translateY(-15px);
}
#t-3:checked ~ .testimonials label[for="t-3"] {
  z-index: 3;
}
#t-3:checked ~ .testimonials label[for="t-4"] {
  transform: translateX(300px) translateZ(-90px) translateY(-15px);
  z-index: 2;
}
#t-3:checked ~ .testimonials label[for="t-5"] {
  transform: translateX(600px) translateZ(-180px) translateY(-30px);
}

/* Fourth */
#t-4:checked ~ .dots label[for="t-3"] {
  transform: scale(1.5);
}
#t-4:checked ~ .dots label[for="t-4"] {
  transform: scale(2);
  background-color: #e19962;
}
#t-4:checked ~ .dots label[for="t-5"] {
  transform: scale(1.5);
}
#t-4:checked ~ .testimonials label[for="t-1"] {
  transform: translateX(-900px) translateZ(-270px) translateY(-45px);
}
#t-4:checked ~ .testimonials label[for="t-2"] {
  transform: translateX(-600px) translateZ(-180px) translateY(-30px);
}
#t-4:checked ~ .testimonials label[for="t-3"] {
  transform: translateX(-300px) translateZ(-90px) translateY(-15px);
  z-index: 2;
}
#t-4:checked ~ .testimonials label[for="t-4"] {
  z-index: 3;
}
#t-4:checked ~ .testimonials label[for="t-5"] {
  transform: translateX(300px) translateZ(-90px) translateY(-15px);
}

/* Fifth */
#t-5:checked ~ .dots label[for="t-4"] {
  transform: scale(1.5);
}
#t-5:checked ~ .dots label[for="t-5"] {
  transform: scale(2);
  background-color: #e19962;
}
#t-5:checked ~ .testimonials label[for="t-1"] {
  transform: translateX(-1200px) translateZ(-360px) translateY(-60px);
}
#t-5:checked ~ .testimonials label[for="t-2"] {
  transform: translateX(-900px) translateZ(-270px) translateY(-45px);
  z-index: 1;
}
#t-5:checked ~ .testimonials label[for="t-3"] {
  transform: translateX(-600px) translateZ(-180px) translateY(-30px);
  z-index: 2;
}
#t-5:checked ~ .testimonials label[for="t-4"] {
  transform: translateX(-300px) translateZ(-90px) translateY(-15px);
  z-index: 3;
}
#t-5:checked ~ .testimonials label[for="t-5"] {
  z-index: 4;
}

/* Sixth */
#t-6:checked ~ .dots label[for="t-5"] {
  transform: scale(1.5);
}
#t-6:checked ~ .dots label[for="t-6"] {
  transform: scale(2);
  background-color: #e19962;
}
#t-6:checked ~ .testimonials label[for="t-1"] {
  transform: translateX(-1500px) translateZ(-450px) translateY(-75px);
}
#t-6:checked ~ .testimonials label[for="t-2"] {
  transform: translateX(-1200px) translateZ(-360px) translateY(-60px);
  z-index: 1;
}
#t-6:checked ~ .testimonials label[for="t-3"] {
  transform: translateX(-900px) translateZ(-270px) translateY(-45px);
  z-index: 2;
}
#t-6:checked ~ .testimonials label[for="t-4"] {
  transform: translateX(-600px) translateZ(-180px) translateY(-30px);
  z-index: 3;
}
#t-6:checked ~ .testimonials label[for="t-5"] {
  transform: translateX(-300px) translateZ(-90px) translateY(-15px);
  z-index: 4;
}
#t-6:checked ~ .testimonials label[for="t-6"] {
  z-index: 5;
}

/* Seventh */
#t-7:checked ~ .dots label[for="t-6"] {
  transform: scale(1.5);
}
#t-7:checked ~ .dots label[for="t-7"] {
  transform: scale(2);
  background-color: #e19962;
}
#t-7:checked ~ .testimonials label[for="t-1"] {
  transform: translateX(-1800px) translateZ(-540px) translateY(-90px);
}
#t-7:checked ~ .testimonials label[for="t-2"] {
  transform: translateX(-1500px) translateZ(-450px) translateY(-75px);
  z-index: 1;
}
#t-7:checked ~ .testimonials label[for="t-3"] {
  transform: translateX(-1200px) translateZ(-360px) translateY(-60px);
  z-index: 2;
}
#t-7:checked ~ .testimonials label[for="t-4"] {
  transform: translateX(-900px) translateZ(-270px) translateY(-45px);
  z-index: 3;
}
#t-7:checked ~ .testimonials label[for="t-5"] {
  transform: translateX(-600px) translateZ(-390px) translateY(-30px);
  z-index: 4;
}
#t-7:checked ~ .testimonials label[for="t-6"] {
  transform: translateX(-300px) translateZ(-90px) translateY(-15px);
  z-index: 5;
}
#t-7:checked ~ .testimonials label[for="t-7"] {
  z-index: 6;
}
