@font-face {
    font-family: 'GG';
    src: url("../games/fonts/ChakraPetch-BoldItalic.ttf") format("truetype");
  }
  
  #game {
    border:2px solid black;
    position: absolute;
    top: 50%; 
    left: 50%;
    width: 800px;
    height: 600px;
    margin-top: -300px;
    margin-left: -400px;
    box-shadow: 0px 0px 10px #000; 
}
body {
    background-color: #141513;
    font-family: "GG";
}
#footer {
    position: absolute;
    bottom: 0px;
    right: 0%;
    margin: 5px;
    font-size: 12px;
    font-family: sans-serif;
}