/* ------------------------- Fuentes ------------------------- */
@font-face {
  font-family: 'GG';
  src: url("../games/fonts/ChakraPetch-BoldItalic.ttf") format("truetype");
}

/* ------------------------- General HTML ------------------------- */
.html {
  scroll-behavior: smooth;
}

/* ------------------------- Navegación ------------------------- */
nav {
  background-color: #131415;
  padding: 10px;
  text-align: center;
  display: flex;
  align-items: center;
}

nav .fullhead {
  padding: 15px;
  margin: 15px;
  background-color: #1f1f1f;
  border-radius: 20px;
  display: flex;
  align-items: center;
}

nav .logo img {
  margin-right: 10px;
}

nav h1 {
  font-family: "GG";
  margin: 10px 0;
  font-size: 1.5em;
  color: #e19962;
}

nav p {
  font-family: "GG";
  font-size: 0.8em;
}

nav ul {
  list-style: none;
  padding: 15px;
  margin: 15px;
  background-color: #242424;
  border-radius: 20px;
  display: flex;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  font-family: "GG", sans-serif;
  color: #8bb7ab;
  font-size: 1.2em;
  transition: color 0.3s ease;
}

nav .navbar {
  padding: 20px;
}

nav a:hover {
  color: #e19962;
}

/* ------------------------- Cuerpo ------------------------- */
body {
  background-color: #131415;
  color: #e19962;
  font-family: 'GG', sans-serif;
  font-size: large;
}

.container {
  margin: 20px;
  grid-area: 1 / 1 / 8 / 2;
  background-color: #242424;
  padding: 10px;
  text-align: center;
  border-radius: 20px;
}

.hero {
  background-color: #131415;
  color: #e19962;
  padding: 60px 0;
  text-align: center;
  margin: auto;
}

.parent {
  margin: 20px;
    grid-template-columns: 1fr;
  grid-template-rows: repeat(7, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 3px;
  color: #e19962;
  padding: 40px;
  text-align: center;
  display: grid;

  height: 75px;
  width: 100%;
}
/* ------------------------- Footer ------------------------- */
.footer {

  padding: 20px;
  width: 100%;
  margin: 20px;
  background-color: #242424;
  text-align: center;
  border-radius: 20px;
  margin-top: 450px;
}

.footer-section {
  display: flex;
  flex-direction: row;
}

.footer-cus {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 50%;
  margin-top: 0px;
}

.footer-links ul {
  text-decoration: none;
  color: #e19962;
  list-style: none;
}
